Self-exercise:
A reproduction of example_model.py, a sample script included with the datasets downloaded from Numer.ai. This script is not an original. This script is its conversion to Jupyter Notebook format (.ipynb).

#@! Parts of this script are NOT part of the original script. I will clean it up later.

In [1]:
"""Example classifier on Numerai data using a logistic regression classifier. To get started, install the required 
packages: pandas, numpy, sklearn"""

'Example classifier on Numerai data using a logistic regression classifier. To get started, install the required \npackages: pandas, numpy, sklearn'

In [2]:
import pandas as pd
import numpy as np
from sklearn import metrics, preprocessing, linear_model

#def main():
    # Set seed for reproducibility
    # np.random.seed(0)
    
print("Loading data...")
    # Load the data from the CSV files
training_data = pd.read_csv('./numerai_training_data.csv', header=0)
##detour - my own stuff
training_data.head()

Loading data...

,id,era,data_type,feature1,feature2,feature3,feature4,feature5,feature6,feature7,...,feature42,feature43,feature44,feature45,feature46,feature47,feature48,feature49,feature50,target
0,nb5059fbc40534a1,era1,train,0.49282,0.58077,0.48948,0.56762,0.56107,0.51168,0.47459,...,0.40333,0.52337,0.60795,0.35748,0.49677,0.28295,0.65342,0.57915,0.51136,1
1,nb2bb43f474f2429,era1,train,0.53427,0.72712,0.61895,0.66238,0.47163,0.66996,0.37673,...,0.46847,0.44557,0.64831,0.28245,0.68554,0.26547,0.59322,0.53156,0.61621,0
2,n1e960207daad44a,era1,train,0.54888,0.46304,0.49582,0.52395,0.57362,0.46969,0.50229,...,0.74065,0.41003,0.43230,0.78286,0.52214,0.43961,0.46139,0.61272,0.72566,1
3,n5e99b4326e6f463,era1,train,0.64488,0.56167,0.72591,0.52219,0.49311,0.51511,0.45514,...,0.67751,0.43340,0.67009,0.50086,0.51208,0.58674,0.54358,0.58602,0.51818,0
4,nf454131816e5401,era1,train,0.45235,0.56569,0.54424,0.34145,0.67652,0.44318,0.45627,...,0.40709,0.58624,0.44531,0.66276,0.41992,0.58741,0.62276,0.31212,0.22357,0

In [3]:
### detour. my own stuff. inclusive of all cells following.

import pandas as pd
import numpy as np

# read data into a DataFrame
data = pd.read_csv("./numerai_training_data.csv")
print(data.dtypes)

id            object
era           object
data_type     object
feature1     float64
feature2     float64
feature3     float64
feature4     float64
feature5     float64
feature6     float64
feature7     float64
feature8     float64
feature9     float64
feature10    float64
feature11    float64
feature12    float64
feature13    float64
feature14    float64
feature15    float64
feature16    float64
feature17    float64
feature18    float64
feature19    float64
feature20    float64
feature21    float64
feature22    float64
feature23    float64
feature24    float64
feature25    float64
feature26    float64
feature27    float64
feature28    float64
feature29    float64
feature30    float64
feature31    float64
feature32    float64
feature33    float64
feature34    float64
feature35    float64
feature36    float64
feature37    float64
feature38    float64
feature39    float64
feature40    float64
feature41    float64
feature42    float64
feature43    float64
feature44    float64
feature45    float64
feature46    float64
feature47    float64
feature48    float64
feature49    float64
feature50    float64
target         int64
dtype: object

In [4]:
print(data.head())

                 id   era data_type  feature1  feature2  feature3  feature4  \
0  nb5059fbc40534a1  era1     train   0.49282   0.58077   0.48948   0.56762
1  nb2bb43f474f2429  era1     train   0.53427   0.72712   0.61895   0.66238
2  n1e960207daad44a  era1     train   0.54888   0.46304   0.49582   0.52395
3  n5e99b4326e6f463  era1     train   0.64488   0.56167   0.72591   0.52219
4  nf454131816e5401  era1     train   0.45235   0.56569   0.54424   0.34145

   feature5  feature6  feature7   ...    feature42  feature43  feature44  \
0   0.56107   0.51168   0.47459   ...      0.40333    0.52337    0.60795
1   0.47163   0.66996   0.37673   ...      0.46847    0.44557    0.64831
2   0.57362   0.46969   0.50229   ...      0.74065    0.41003    0.43230
3   0.49311   0.51511   0.45514   ...      0.67751    0.43340    0.67009
4   0.67652   0.44318   0.45627   ...      0.40709    0.58624    0.44531

   feature45  feature46  feature47  feature48  feature49  feature50  target
0    0.35748    0.49677    0.28295    0.65342    0.57915    0.51136       1
1    0.28245    0.68554    0.26547    0.59322    0.53156    0.61621       0
2    0.78286    0.52214    0.43961    0.46139    0.61272    0.72566       1
3    0.50086    0.51208    0.58674    0.54358    0.58602    0.51818       0
4    0.66276    0.41992    0.58741    0.62276    0.31212    0.22357       0

[5 rows x 54 columns]

In [5]:
print(data.shape)
print(data.head())

(535713, 54)
                 id   era data_type  feature1  feature2  feature3  feature4  \
0  nb5059fbc40534a1  era1     train   0.49282   0.58077   0.48948   0.56762
1  nb2bb43f474f2429  era1     train   0.53427   0.72712   0.61895   0.66238
2  n1e960207daad44a  era1     train   0.54888   0.46304   0.49582   0.52395
3  n5e99b4326e6f463  era1     train   0.64488   0.56167   0.72591   0.52219
4  nf454131816e5401  era1     train   0.45235   0.56569   0.54424   0.34145

   feature5  feature6  feature7   ...    feature42  feature43  feature44  \
0   0.56107   0.51168   0.47459   ...      0.40333    0.52337    0.60795
1   0.47163   0.66996   0.37673   ...      0.46847    0.44557    0.64831
2   0.57362   0.46969   0.50229   ...      0.74065    0.41003    0.43230
3   0.49311   0.51511   0.45514   ...      0.67751    0.43340    0.67009
4   0.67652   0.44318   0.45627   ...      0.40709    0.58624    0.44531

   feature45  feature46  feature47  feature48  feature49  feature50  target
0    0.35748    0.49677    0.28295    0.65342    0.57915    0.51136       1
1    0.28245    0.68554    0.26547    0.59322    0.53156    0.61621       0
2    0.78286    0.52214    0.43961    0.46139    0.61272    0.72566       1
3    0.50086    0.51208    0.58674    0.54358    0.58602    0.51818       0
4    0.66276    0.41992    0.58741    0.62276    0.31212    0.22357       0

[5 rows x 54 columns]

In [6]:
## looking at other dataset
import pandas as pd
import numpy as np

# read data into a DataFrame
data1 = pd.read_csv("./numerai_tournament_data.csv")
data1.dtypes

id            object
era           object
data_type     object
feature1     float64
feature2     float64
feature3     float64
feature4     float64
feature5     float64
feature6     float64
feature7     float64
feature8     float64
feature9     float64
feature10    float64
feature11    float64
feature12    float64
feature13    float64
feature14    float64
feature15    float64
feature16    float64
feature17    float64
feature18    float64
feature19    float64
feature20    float64
feature21    float64
feature22    float64
feature23    float64
feature24    float64
feature25    float64
feature26    float64
feature27    float64
feature28    float64
feature29    float64
feature30    float64
feature31    float64
feature32    float64
feature33    float64
feature34    float64
feature35    float64
feature36    float64
feature37    float64
feature38    float64
feature39    float64
feature40    float64
feature41    float64
feature42    float64
feature43    float64
feature44    float64
feature45    float64
feature46    float64
feature47    float64
feature48    float64
feature49    float64
feature50    float64
target       float64
dtype: object

In [7]:
data1.head()

,id,era,data_type,feature1,feature2,feature3,feature4,feature5,feature6,feature7,...,feature42,feature43,feature44,feature45,feature46,feature47,feature48,feature49,feature50,target
0,n614950e52f86476,era86,validation,0.73321,0.40769,0.52738,0.62752,0.53157,0.39902,0.60185,...,0.73091,0.46047,0.70016,0.46789,0.37077,0.60445,0.30939,0.65382,0.60536,0.0
1,n8c131af804784b6,era86,validation,0.41095,0.49730,0.57336,0.34116,0.60004,0.65085,0.41450,...,0.61655,0.54469,0.54147,0.47559,0.35006,0.58956,0.46743,0.39537,0.35831,1.0
2,n68cdeacc1d654de,era86,validation,0.53106,0.52798,0.40962,0.74406,0.42711,0.65237,0.49803,...,0.65628,0.45790,0.75984,0.54364,0.53942,0.50660,0.53929,0.66115,0.81356,0.0
3,n59b64bb3be044f0,era86,validation,0.37164,0.34754,0.57658,0.39391,0.53413,0.40982,0.49490,...,0.48189,0.49643,0.38714,0.70947,0.35190,0.75937,0.46353,0.40733,0.47283,0.0
4,nb859519b853849e,era86,validation,0.57009,0.47230,0.55039,0.59870,0.40695,0.41777,0.54070,...,0.59799,0.43636,0.63322,0.76684,0.40639,0.53525,0.43527,0.56586,0.61025,1.0

In [8]:
data1.shape

(348831, 54)